In [574]:
# Install the Package
!pip install --user reverse_geocoder

Requirement already satisfied: reverse_geocoder in /nfshome/sz2404/.local/lib/python3.6/site-packages
Requirement already satisfied: numpy>=1.11.0 in /usr/local/Anaconda3-5.0.0-Linux-x86_64/lib/python3.6/site-packages (from reverse_geocoder)
Requirement already satisfied: scipy>=0.17.1 in /usr/local/Anaconda3-5.0.0-Linux-x86_64/lib/python3.6/site-packages (from reverse_geocoder)
You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [575]:
# my usual imports and setups
import matplotlib.pylab as pl
import pandas as pd
import numpy as np
#imports downloader
#from getCitiBikeCSV import getCitiBikeCSV

%pylab inline

import os
import sys
#this makes my plots pretty! but it is totally not mandatory to do it
import json
#s = json.load( open(os.getenv ('PUI2016')+"/fbb_matplotlibrc.json") )
#pl.rcParams.update(s)
import datetime as dt

Populating the interactive namespace from numpy and matplotlib

In [576]:
def getCitiBikeCSV(datestring):
    print ("Downloading", datestring)
    ### First I will heck that it is not already there
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        if os.path.isfile(datestring + "-citibike-tripdata.csv"):
            # if in the current dir just move it
            if os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA")):
                print ("Error moving file!, Please check!")
        #otherwise start looking for the zip file
        else:
            if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip"):
                if not os.path.isfile(datestring + "-citibike-tripdata.zip"):
                    os.system("curl -O https://s3.amazonaws.com/tripdata/" + datestring + "-citibike-tripdata.zip")
                ###  To move it I use the os.system() functions to run bash commands with arguments
                os.system("mv " + datestring + "-citibike-tripdata.zip " + os.getenv("PUIDATA"))
            ### unzip the csv 
            os.system("unzip " + os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip")
            ## NOTE: old csv citibike data had a different name structure. 
            if '2014' in datestring:
                os.system("mv " + datestring[:4] + '-' +  datestring[4:] + 
                          "\ -\ Citi\ Bike\ trip\ data.csv " + datestring + "-citibike-tripdata.csv")
            os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA"))
    ### One final check:
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        print ("WARNING!!! something is wrong: the file is not there!")

    else:
        print ("file in place, you can continue")

In [577]:
datestring = '201501'
getCitiBikeCSV(datestring)

Downloading 201501
file in place, you can continue

In [578]:
df = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring + '-citibike-tripdata.csv')

In [579]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [580]:
len(df['end station longitude'])

285552

In [581]:
# To save some runtime, I will play with 200 rows. 
df.sam = df.drop(df.index[:285300])

In [582]:
len(df.sam)

252

In [583]:
df.sam.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
285300,1179,1/31/2015 22:05,1/31/2015 22:25,380,W 4 St & 7 Ave S,40.734011,-74.002939,454,E 51 St & 1 Ave,40.754557,-73.965930,15358,Subscriber,1986.0,1
285301,262,1/31/2015 22:05,1/31/2015 22:09,301,E 2 St & Avenue B,40.722174,-73.983688,428,E 3 St & 1 Ave,40.724677,-73.987834,17979,Subscriber,1983.0,1

In [584]:
df.sam['start station latitude'].dropna(inplace=True)
df.sam['start station longitude'].dropna(inplace=True)

In [585]:
len(df.sam['start station longitude'])

252

In [586]:
len(df.sam['start station latitude'])

252

In [587]:
# Make a new column combining lat and long but in a tuple format
    # Reference: https://stackoverflow.com/questions/16031056/how-to-form-tuple-column-from-two-columns-in-pandas
df.sam['coordinates'] = df.sam[['start station latitude', 'start station longitude']].apply(tuple,axis=1)

In [588]:
df.sam.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,coordinates
285300,1179,1/31/2015 22:05,1/31/2015 22:25,380,W 4 St & 7 Ave S,40.734011,-74.002939,454,E 51 St & 1 Ave,40.754557,-73.965930,15358,Subscriber,1986.0,1,"(40.73401143, -74.00293877)"
285301,262,1/31/2015 22:05,1/31/2015 22:09,301,E 2 St & Avenue B,40.722174,-73.983688,428,E 3 St & 1 Ave,40.724677,-73.987834,17979,Subscriber,1983.0,1,"(40.72217444, -73.98368779)"

In [600]:
# We will need to use reverse_geocoder for 200 plus times so I will use a for loop.
# rg function reads tuples so we need to make it a tuple.
x = tuple(df.sam['coordinates'])
x[5]

(40.73901691, -74.00263761)

In [590]:
import reverse_geocoder as rg

In [615]:
# Now we use rg function to read coordinates and return the address. 
    #Reference: https://github.com/thampiman/reverse-geocoder
coordinate = x[:252]
results = rg.search(coordinate)
#print(results)

location = []

for i in range (len(results)):
    location.append(results[i]['name'])
df.sam['loc'] = location
df.sam

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,coordinates,loc
285300,1179,1/31/2015 22:05,1/31/2015 22:25,380,W 4 St & 7 Ave S,40.734011,-74.002939,454,E 51 St & 1 Ave,40.754557,-73.965930,15358,Subscriber,1986.0,1,"(40.73401143, -74.00293877)",New York City
285301,262,1/31/2015 22:05,1/31/2015 22:09,301,E 2 St & Avenue B,40.722174,-73.983688,428,E 3 St & 1 Ave,40.724677,-73.987834,17979,Subscriber,1983.0,1,"(40.72217444, -73.98368779)",New York City
285302,205,1/31/2015 22:05,1/31/2015 22:09,2021,W 45 St & 8 Ave,40.759291,-73.988597,447,8 Ave & W 52 St,40.763707,-73.985162,15985,Subscriber,1973.0,1,"(40.75929124, -73.98859651)",Manhattan
285303,2044,1/31/2015 22:06,1/31/2015 22:41,157,Henry St & Atlantic Ave,40.690893,-73.996123,339,Avenue D & E 12 St,40.725806,-73.974225,18276,Subscriber,1965.0,1,"(40.69089272, -73.99612349)",New York City
285304,1450,1/31/2015 22:06,1/31/2015 22:30,479,9 Ave & W 45 St,40.760193,-73.991255,432,E 7 St & Avenue A,40.726218,-73.983799,15391,Subscriber,1953.0,1,"(40.76019252, -73.9912551)",Weehawken
285305,746,1/31/2015 22:06,1/31/2015 22:18,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,487,E 20 St & FDR Drive,40.733143,-73.975739,20860,Subscriber,1984.0,1,"(40.73901691, -74.00263761)",New York City
285306,405,1/31/2015 22:06,1/31/2015 22:13,278,Concord St & Bridge St,40.697666,-73.984764,143,Clinton St & Joralemon St,40.692395,-73.993379,17877,Subscriber,1994.0,2,"(40.69766564, -73.98476437)",New York City
285307,179,1/31/2015 22:06,1/31/2015 22:09,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,116,W 17 St & 8 Ave,40.741776,-74.001497,19855,Subscriber,1958.0,1,"(40.73901691, -74.00263761)",New York City
285308,1260,1/31/2015 22:07,1/31/2015 22:28,223,W 13 St & 7 Ave,40.737815,-73.999947,488,W 39 St & 9 Ave,40.756458,-73.993722,19823,Subscriber,1993.0,1,"(40.73781509, -73.99994661)",New York City
285309,538,1/31/2015 22:07,1/31/2015 22:16,500,Broadway & W 51 St,40.762288,-73.983362,422,W 59 St & 10 Ave,40.770513,-73.988038,19622,Subscriber,1987.0,1,"(40.76228826, -73.98336183)",Manhattan
285310,493,1/31/2015 22:07,1/31/2015 22:15,195,Liberty St & Broadway,40.709056,-74.010434,327,Vesey Pl & River Terrace,40.715338,-74.016584,19289,Subscriber,1954.0,1,"(40.70905623, -74.01043382)",New York City
285311,258,1/31/2015 22:07,1/31/2015 22:11,546,E 30 St & Park Ave S,40.744449,-73.983035,527,E 33 St & 2 Ave,40.744023,-73.976056,15815,Subscriber,1978.0,2,"(40.74444921, -73.98303529)",Long Island City
285312,870,1/31/2015 22:08,1/31/2015 22:23,435,W 21 St & 6 Ave,40.741740,-73.994156,352,W 56 St & 6 Ave,40.763406,-73.977225,20178,Subscriber,1975.0,1,"(40.74173969, -73.99415556)",New York City
285313,792,1/31/2015 22:08,1/31/2015 22:21,497,E 17 St & Broadway,40.737050,-73.990093,477,W 41 St & 8 Ave,40.756405,-73.990026,15508,Subscriber,1974.0,1,"(40.73704984, -73.99009296)",New York City
285314,278,1/31/2015 22:08,1/31/2015 22:13,435,W 21 St & 6 Ave,40.741740,-73.994156,446,W 24 St & 7 Ave,40.744876,-73.995299,17131,Subscriber,1975.0,1,"(40.74173969, -73.99415556)",New York City
285315,188,1/31/2015 22:08,1/31/2015 22:11,350,Clinton St & Grand St,40.715595,-73.987030,291,Madison St & Montgomery St,40.713126,-73.984844,15247,Subscriber,1989.0,1,"(40.71559509, -73.9870295)",New York City
285316,153,1/31/2015 22:08,1/31/2015 22:10,495,W 47 St & 10 Ave,40.762699,-73.993012,480,W 53 St & 10 Ave,40.766697,-73.990617,15275,Subscriber,1976.0,1,"(40.76269882, -73.99301222)",Weehawken
285317,1228,1/31/2015 22:09,1/31/2015 22:29,525,W 34 St & 11 Ave,40.755942,-74.002116,461,E 20 St & 2 Ave,40.735877,-73.982050,20733,Subscriber,1961.0,1,"(40.75594159, -74.0021163)",Weehawken
285318,516,1/31/2015 22:09,1/31/2015 22:17,525,W 34 St & 11 Ave,40.755942,-74.002116,492,W 33 St & 7 Ave,40.750200,-73.990931,21627,Subscriber,1955.0,1,"(40.75594159, -74.0021163)",Weehawken
285319,509,1/31/2015 22:09,1/31/2015 22:18,504,1 Ave & E 15 St,40.732219,-73.981656,301,E 2 St & Avenue B,40.722174,-73.983688,20618,Subscriber,1993.0,2,"(40.73221853, -73.98165557)",New York City
285320,397,1/31/2015 22:09,1/31/2015 22:16,312,Allen St & E Houston St,40.722055,-73.989111,317,E 6 St & Avenue B,40.724537,-73.981854,21558,Subscriber,1954.0,1,"(40.722055, -73.989111)",New York City
285321,916,1/31/2015 22:10,1/31/2015 22:25,435,W 21 St & 6 Ave,40.741740,-73.994156,515,W 43 St & 10 Ave,40.760094,-73.994618,15354,Subscriber,1971.0,1,"(40.74173969, -73.99415556)",New York City
285322,705,1/31/2015 22:10,1/31/2015 22:21,116,W 17 St & 8 Ave,40.741776,-74.001497,450,W 49 St & 8 Ave,40.762272,-73.987882,19855,Subscriber,1978.0,1,"(40.74177603, -74.00149746)",New York City
285323,1284,1/31/2015 22:11,1/31/2015 22:33,518,E 39 St & 2 Ave,40.747804,-73.973442,263,Elizabeth St & Hester St,40.717290,-73.996375,19033,Subscriber,1976.0,1,"(40.74780373, -73.97344190000001)",Long Island City
285324,1203,1/31/2015 22:11,1/31/2015 22:31,476,E 31 St & 3 Ave,40.743943,-73.979661,401,Allen St & Rivington St,40.720196,-73.989978,17860,Subscriber,1994.0,2,"(40.74394314, -73.97966069)",Long Island City
285325,821,1/31/2015 22:11,1/31/2015 22:25,326,E 11 St & 1 Ave,40.729538,-73.984267,368,Carmine St & 6 Ave,40.730386,-74.002150,15254,Subscriber,1986.0,1,"(40.72953837, -73.98426726)",New York City
285326,722,1/31/2015 22:11,1/31/2015 22:23,294,Washington Square E,40.730494,-73.995721,2012,E 27 St & 1 Ave,40.739445,-73.976806,14803,Subscriber,1987.0,1,"(40.73049393, -73.99572140000001)",New York City
285327,699,1/31/2015 22:11,1/31/2015 22:23,296,Division St & Bowery,40.714131,-73.997047,291,Madison St & Montgomery St,40.713126,-73.984844,16394,Subscriber,1973.0,1,"(40.71413089, -73.99704679999999)",New York City
285328,602,1/31/2015 22:11,1/31/2015 22:21,409,DeKalb Ave & Skillman St,40.690649,-73.956431,443,Bedford Ave & S 9th St,40.708531,-73.964090,19193,Subscriber,1983.0,1,"(40.6906495, -73.95643107)",Brooklyn
285329,520,1/31/2015 22:11,1/31/2015 22:19,457,Broadway & W 58 St,40.766953,-73.981693,305,E 58 St & 3 Ave,40.760958,-73.967245,18552,Customer,NaN,0,"(40.76695317, -73.98169333)",Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285522,257,1/31/2015 23:46,1/31/2015 23:50,526,E 33 St & 5 Ave,40.747659,-73.984907,444,Broadway & W 24 St,40.742354,-73.989151,20740,Subscriber,1979.0,1,"(40.74765947, -73.98490707)",Long Island City
285523,141,1/31/2015 23:46,1/31/2015 23:49,116,W 17 St & 8 Ave,40.741776,-74.001497,116,W 17 St & 8 Ave,40.741776,-74.001497,21185,Subscriber,1990.0,1,"(40.74177603, -74.00149746)",New York City
285524,125,1/31/2015 23:46,1/31/2015 23:48,478,11 Ave & W 41 St,40.760301,-73.998842,515,W 43 St & 10 Ave,40.760094,-73.994618,15130,Subscriber,1983.0,1,"(40.76030096, -73.99884222)",Weehawken
285525,860,1/31/2015 23:47,2/1/2015 0:01,368,Carmine St & 6 Ave,40.730386,-74.002150,531,Forsyth St & Broome St,40.718939,-73.992663,16262,Subscriber,1982.0,1,"(40.73038599, -74.00214988)",New York City
285526,471,1/31/2015 23:47,1/31/2015 23:55,325,E 19 St & 3 Ave,40.736245,-73.984738,527,E 33 St & 2 Ave,40.744023,-73.976056,17920,Subscriber,1988.0,2,"(40.73624527, -73.98473765)",New York City
285527,587,1/31/2015 23:48,1/31/2015 23:58,312,Allen St & E Houston St,40.722055,-73.989111,2009,Catherine St & Monroe St,40.711174,-73.996826,18818,Subscriber,1973.0,1,"(40.722055, -73.989111)",New York City
285528,399,1/31/2015 23:49,1/31/2015 23:56,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16477,Subscriber,1979.0,1,"(40.68691865, -73.976682)",New York City
285529,1544,1/31/2015 23:51,2/1/2015 0:17,521,8 Ave & W 31 St,40.750450,-73.994811,128,MacDougal St & Prince St,40.727103,-74.002971,19506,Subscriber,1966.0,1,"(40.75044999, -73.99481051)",Weehawken
285530,579,1/31/2015 23:51,2/1/2015 0:01,483,E 12 St & 3 Ave,40.732233,-73.988900,411,E 6 St & Avenue D,40.722281,-73.976687,16202,Subscriber,1961.0,1,"(40.73223272, -73.98889957)",New York City
285531,284,1/31/2015 23:51,1/31/2015 23:56,493,W 45 St & 6 Ave,40.756800,-73.982912,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,16887,Subscriber,1968.0,1,"(40.7568001, -73.98291153)",Manhattan
285532,1527,1/31/2015 23:52,2/1/2015 0:17,491,E 24 St & Park Ave S,40.740964,-73.986022,341,Stanton St & Mangin St,40.717821,-73.976289,21518,Subscriber,1986.0,2,"(40.74096374, -73.98602213)",New York City
285533,1509,1/31/2015 23:52,2/1/2015 0:17,382,University Pl & E 14 St,40.734927,-73.992005,448,W 37 St & 10 Ave,40.756604,-73.997901,18797,Subscriber,1991.0,2,"(40.73492695, -73.99200509)",New York City
285534,954,1/31/2015 23:52,2/1/2015 0:08,383,Greenwich Ave & Charles St,40.735238,-74.000271,383,Greenwich Ave & Charles St,40.735238,-74.000271,19756,Subscriber,1969.0,1,"(40.735238, -74.000271)",New York City
285535,447,1/31/2015 23:52,2/1/2015 0:00,528,2 Ave & E 31 St,40.742909,-73.977061,504,1 Ave & E 15 St,40.732219,-73.981656,20565,Subscriber,1987.0,1,"(40.74290902, -73.97706058)",Long Island City
285536,433,1/31/2015 23:52,2/1/2015 0:00,345,W 13 St & 6 Ave,40.736494,-73.997044,368,Carmine St & 6 Ave,40.730386,-74.002150,16285,Subscriber,1986.0,1,"(40.73649403, -73.99704374)",New York City
285537,319,1/31/2015 23:52,1/31/2015 23:57,453,W 22 St & 8 Ave,40.744751,-73.999154,346,Bank St & Hudson St,40.736529,-74.006180,15926,Subscriber,1972.0,1,"(40.74475148, -73.99915362)",New York City
285538,216,1/31/2015 23:52,1/31/2015 23:55,250,Lafayette St & Jersey St,40.724561,-73.995653,265,Stanton St & Chrystie St,40.722293,-73.991475,19919,Subscriber,1986.0,1,"(40.72456089, -73.99565293)",New York City
285539,1004,1/31/2015 23:53,2/1/2015 0:09,403,E 2 St & 2 Ave,40.725029,-73.990697,358,Christopher St & Greenwich St,40.732916,-74.007114,21204,Subscriber,1990.0,1,"(40.72502876, -73.99069656)",New York City
285540,926,1/31/2015 23:54,2/1/2015 0:09,168,W 18 St & 6 Ave,40.739713,-73.994564,488,W 39 St & 9 Ave,40.756458,-73.993722,19110,Subscriber,1964.0,1,"(40.73971301, -73.99456405)",New York City
285541,546,1/31/2015 23:54,2/1/2015 0:04,528,2 Ave & E 31 St,40.742909,-73.977061,498,Broadway & W 32 St,40.748549,-73.988084,20769,Subscriber,1989.0,1,"(40.74290902, -73.97706058)",Long Island City
285542,429,1/31/2015 23:54,2/1/2015 0:01,491,E 24 St & Park Ave S,40.740964,-73.986022,2012,E 27 St & 1 Ave,40.739445,-73.976806,20621,Subscriber,1991.0,1,"(40.74096374, -73.98602213)",New York City
285543,229,1/31/2015 23:55,1/31/2015 23:59,489,10 Ave & W 28 St,40.750664,-74.001768,494,W 26 St & 8 Ave,40.747348,-73.997236,15969,Subscriber,1985.0,2,"(40.75066386, -74.00176802)",Weehawken
285544,401,1/31/2015 23:56,2/1/2015 0:03,483,E 12 St & 3 Ave,40.732233,-73.988900,174,E 25 St & 1 Ave,40.738177,-73.977387,14760,Subscriber,1971.0,1,"(40.73223272, -73.98889957)",New York City
285545,296,1/31/2015 23:56,2/1/2015 0:01,518,E 39 St & 2 Ave,40.747804,-73.973442,454,E 51 St & 1 Ave,40.754557,-73.965930,20327,Subscriber,1983.0,1,"(40.74780373, -73.97344190000001)",Long Island City
285546,993,1/31/2015 23:57,2/1/2015 0:13,254,W 11 St & 6 Ave,40.735324,-73.998004,473,Rivington St & Chrystie St,40.721101,-73.991925,19424,Subscriber,1970.0,1,"(40.73532427, -73.99800419)",New York City
285547,169,1/31/2015 23:57,2/1/2015 0:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,368,Carmine St & 6 Ave,40.730386,-74.002150,17456,Subscriber,1956.0,1,"(40.72917025, -73.99810231)",New York City
285548,827,1/31/2015 23:58,2/1/2015 0:12,252,MacDougal St & Washington Sq,40.732264,-73.998522,440,E 45 St & 3 Ave,40.752554,-73.972826,17669,Subscriber,1976.0,1,"(40.73226398, -73.99852205)",New York City
285549,798,1/31/2015 23:58,2/1/2015 0:11,127,Barrow St & Hudson St,40.731724,-74.006744,433,E 13 St & Avenue A,40.729554,-73.980572,20237,Subscriber,1994.0,1,"(40.73172428, -74.00674436)",New York City
285550,725,1/31/2015 23:58,2/1/2015 0:10,435,W 21 St & 6 Ave,40.741740,-73.994156,368,Carmine St & 6 Ave,40.730386,-74.002150,21029,Subscriber,1957.0,1,"(40.74173969, -73.99415556)",New York City
285551,892,1/31/2015 23:59,2/1/2015 0:14,504,1 Ave & E 15 St,40.732219,-73.981656,295,Pike St & E Broadway,40.714067,-73.992939,18342,Subscriber,1974.0,1,"(40.73221853, -73.98165557)",New York City